<div class="export-model">
	<div class="close" (click)="bsModalRef.hide()">
		<img [src]="themeFlag? './assets/img/icons/close-white.svg' : './assets/img/icons/close.svg'">
	</div>
	<div class="title">
		<img [src]="themeFlag? './assets/img/icons/export-moda-white.png' : './assets/img/icons/export-modal.png'">

		Download
	</div>

	<button class="bg-green w-100" (click)="download()">SWIFT / Invoice</button>
	<button class="border-green w-100" [ngClass]="{white: themeFlag}" (click)="download()">report</button>
</div>
