:host {
  font-size: 16px;
  line-height: 20px;
  position: relative;

  .close-btn {
    position: absolute;
    top: -50px;
    right: -62px;
  }

  .title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 59px;
    font-size: 17px;
    font-weight: 500;
  }

  button {
    border-radius: 20px;
    text-transform: uppercase;

    &:first-of-type {
      margin-bottom: 24px;
    }

    &.border-green {
      color: #62B35F;

      &.white {
        color: #ffffff !important;
      }
    }

  }
}
