<div class="side-bar">
	<ul class="side-bar-item-list">
		<li class="side-bar-item" [class.active]="!activeItem">
			<img [src]="'./assets/img/icons/graphic-icon.png'" alt="" class="side-bar-item-icon">
		</li>
		<li class="side-bar-item" [class.active]="activeItem === 'tv'" (click)="openTV()">
			<img [src]="'./assets/img/icons/tv-icon.png'" alt="" class="side-bar-item-icon">
		</li>
		<li class="side-bar-item" (click)="openExportModal()">
			<img [src]="'./assets/img/icons/upload-icon.png'" alt="" class="side-bar-item-icon">
		</li>
		<li class="side-bar-item" (click)="openCallModal()">
			<img [src]="'./assets/img/icons/call-icon.png'" alt="" class="side-bar-item-icon">
		</li>
		<li class="side-bar-item" (click)="openChat()" [class.active]="activeItem === 'chat'">
			<img [src]="'./assets/img/icons/message-icon.png'" alt="" class="side-bar-item-icon">
		</li>
		<li class="side-bar-item">
			<img [src]="'./assets/img/icons/settings-icon.png'" alt="" class="side-bar-item-icon">
		</li>
	</ul>
</div>
