/* You can add global styles to this file, and also import other style files */

.light-theme {
  --main-bg-color: #f3f3f3;
  --main-block-bg-color: #fff;
  --primary-text-color: #1a1a1a;
  --secondary-text-color: #fff;
  --table-head-bg: #f2f2f2;
  --table-list-color: #4f4f4f;
  --nav-menu-color-light: #828282;
  --news-text-color: #333;
  --main-modal-bg-color: #fff;
  --main-modal-input-bg: transparent;
  --modal-input-border-color: #BDBDBD;
  --input-spinner-bg: #BDBDBD;
  --selector-arrow-color: #8E8E93;

  transition: .5s linear;
}

.dark-theme {
  --main-bg-color: #121212;
  --main-block-bg-color: #1F1B24;
  --primary-text-color: #fff;
  --table-head-bg: #333;
  --table-list-color: #fff;
  --nav-menu-color-light: #f2f2f2;
  --news-text-color: #fff;
  --main-modal-bg-color: #121212;
  --main-modal-input-bg: #333;
  --modal-input-border-color: transparent;
  --input-spinner-bg: #1F1B24;
  --selector-arrow-color: #fff;

  transition: .5s linear;
}

body {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

.text-uppercase {
  text-transform: uppercase;
}

button {
  border-radius: 4px;
  border: none;
  height: 30px;
  cursor: pointer;

  &.bg-green {
    background-color: #62B35F;
    color: #fff;
  }

  &.w-100 {
    width: 100%;
  }

  &.border-green {
    background-color: transparent;
    border: 1px solid #62B35F;
    color: var(--primary-text-color);
  }
}

.modal-dialog.call-info-modal {
  width: 170px;
  border-radius: 12px;

  .modal-content {
    color: var(--primary-text-color);
    background: var(--main-block-bg-color);
    padding: 9px;
  }
}

.modal-dialog.export-data-modal {
  width: 360px;
  border-radius: 12px;

  .modal-content {
    background: var(--main-block-bg-color);
    color: var(--primary-text-color);
    padding: 53px 80px 69px 80px;
  }
}

.modal-dialog {
  &.currency-modal {
    width: 455px;

    .modal-content {
      padding: 10px 50px 50px;
      border-radius: 20px;
      background: var(--main-modal-bg-color);
      color: var(--primary-text-color);
    }
  }
}
