:host {
  .dashboard-page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    transition: .25s linear;
  }

  .main-board {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 25px 0;
    width: 100%;
    padding-left: 55px;
    padding-top: 45px;
    box-sizing: border-box;

    .left-content-block,
    .right-content-block,
    .main-content-block {
      background-color: var(--main-block-bg-color);
      transition: .25s linear;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      margin: 0 3px;
      min-height: 550px;
    }

    .left-content-block,
    .right-content-block {
      flex: 0 0 200px;
    }

    .main-content-block {
      flex: 1 1 auto;
    }

  }

  .tabs-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    .tab {
      display: inline-block;
      width: 50%;
      background-color: #0D6D52;
      padding: 5px 0;
      text-align: center;
      cursor: pointer;

      &:first-of-type {
        border-top-left-radius: 12px;
        border-right: 1px solid #fff;
      }

      &:last-of-type {
        border-top-right-radius: 12px;
      }

      .tab-icon {
        margin: auto;
        width: 15px;
        height: 15px;
      }

      .dropdown-menu {
        width: 100%;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        //max-height: 1px;
        transition: 2s ease-out;
        background-color: var(--main-block-bg-color);

        &.show {
          //max-height: 200px;
          transition: 2s ease-in;
        }

        li {
          a {
            padding: 2px 8px;
            font-size: 14px;
            line-height: 31px;
            color: var(--primary-text-color);

            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .tab-content {
    padding: 5px;
  }

  .search-header {
    width: 100%;
    padding: 0 12px;
    height: 30px;
    background-color: #0D6D52;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-sizing: border-box;

    .title {
      line-height: 30px;
    }

    .search-icon {
      width: 13px;
      height: 13px;
      margin: auto 0;
      cursor: pointer;
    }
  }

  .order-block {
    width: calc(100% - 63px);
    background-color: var(--main-block-bg-color);
    transition: .25s linear;
    margin-left: 60px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    .order-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .order-tabs {
        display: flex;

        .tab {
          padding: 8px 20px;
          background-color: transparent;
          color: var(--primary-text-color);
          transition: .25s linear;
          border: 1px solid #0D6D52;
          border-bottom: none;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          margin-right: 1px;
          font-size: 16px;
          line-height: 20px;
          cursor: pointer;

          &.active {
            background-color: #0D6D52;
            color: #fff;
          }
        }
      }

      .order-settings {
        display: flex;
        flex-direction: row;
        padding: 0 15px;

        span,
        a {
          margin: auto 5px;
          position: relative;
          color: var(--primary-text-color);
          transition: .25s linear;
        }

        .filter-icon {
          cursor: pointer;
          height: 20px;
          width: 22px;
        }
      }
    }

    .order-list {
      width: 100%;

      .order-list-header,
      .order-list-items .item {
        display: flex;
        width: 100%;
        justify-content: space-between;

        span {
          text-align: center;
          box-sizing: border-box;

          &:nth-child(1) {
            width: 9%;
          }

          &:nth-child(2) {
            width: 7%;
          }

          &:nth-child(3) {
            width: 14%;
          }

          &:nth-child(4) {
            width: 7%;
          }

          &:nth-child(5) {
            width: 7%;
          }

          &:nth-child(6) {
            width: 9%;
          }

          &:nth-child(7) {
            width: 9%;
          }

          &:nth-child(8) {
            width: 7%;
          }

          &:nth-child(9) {
            width: 7%;
          }

          &:nth-child(10) {
            width: 11%;
          }

          &:nth-child(11) {
            width: 7%;
          }

          &:nth-child(12) {
            width: 4%;
          }
        }

        .remove {
          position: relative;
          width: 4%;

          .remove-icon {
            margin: auto;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            &:before {
              content: '';
              display: block;
              width: 22px;
              height: 22px;
              background-color: #F1FAF5;
            }
          }
        }
      }

      .order-list-header {

        span {
          min-height: 32px;
          line-height: 32px;
          background-color: var(--table-head-bg);
          color: var(--primary-text-color);
          transition: .25s linear;
          position: relative;

          &.sortable {

            cursor: pointer;

            .arrow-top,
            .arrow-bottom {
              position: absolute;
              right: 5px;
            }

            .arrow-top {
              top: 4px
            }

            .arrow-bottom {
              bottom: 4px
            }
          }
        }
      }

      .order-list-items {
        .item {
          min-height: 37px;
          border-bottom: 1px solid #EAFFF3;

          &:last-of-type {
            border-bottom: none;
          }

          span {
            margin: auto 0;
            font-size: 14px;
            line-height: 20px;
            color: var(--table-list-color);
            transition: .25s linear;
            position: relative;

            &.pending-before,
            &.order-before {
              padding: 0 15px;

              &:before {
                left: 7px;
              }
            }

            &.order {
              &:before {
                background-color: #0D6D52;
              }
            }

            &.order {
              &:before {
                background-color: #F2994A;
              }
            }
          }

          .remove {
            position: relative;
            cursor: pointer;

            &:before {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              background-color: #F1FAF5;
              border: 1px solid transparent;
              width: 22px;
              height: 22px;
              border-radius: 4px;
              transition: .15s ease-out;
            }

            &:hover {
              &:before {
                border: 1px solid #0D6D52;
                transition: .15s ease-in;
              }
            }
          }
        }
      }
    }
  }

  .pending-before,
  .order-before {
    padding: 0 20px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .order-before {
    &:before {
      background-color: #0D6D52;
    }
  }

  .pending-before {
    &:before {
      background-color: #F2994A;
    }
  }

  .tradingview {
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
  }
}
